/*@font-face {*/
    /*font-family: 'erica_oneregular';*/
    /*src: url('../fonts/ericaone-regular-webfont.eot');*/
    /*src: url('../fonts/ericaone-regular-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/ericaone-regular-webfont.woff') format('woff'),*/
    /*url('../fonts/ericaone-regular-webfont.ttf') format('truetype'),*/
    /*url('../fonts/ericaone-regular-webfont.svg#erica_oneregular') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/



/*@font-face {*/
    /*font-family: 'fascinate_inlineregular';*/
    /*src: url('../fonts/fascinateinline-regular-webfont.eot');*/
    /*src: url('../fonts/fascinateinline-regular-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/fascinateinline-regular-webfont.woff') format('woff'),*/
    /*url('../fonts/fascinateinline-regular-webfont.ttf') format('truetype'),*/
    /*url('../fonts/fascinateinline-regular-webfont.svg#fascinate_inlineregular') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/

/*}*/




@font-face {
    font-family: 'freckle_faceregular';
    src: url('../fonts/freckleface-regular-webfont.eot');
    src: url('../fonts/freckleface-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/freckleface-regular-webfont.woff') format('woff'),
    url('../fonts/freckleface-regular-webfont.ttf') format('truetype'),
    url('../fonts/freckleface-regular-webfont.svg#freckle_faceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




/*@font-face {*/
    /*font-family: 'istok_webregular';*/
    /*src: url('../fonts/istokweb-regular-webfont.eot');*/
    /*src: url('../fonts/istokweb-regular-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/istokweb-regular-webfont.woff') format('woff'),*/
    /*url('../fonts/istokweb-regular-webfont.ttf') format('truetype'),*/
    /*url('../fonts/istokweb-regular-webfont.svg#istok_webregular') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/

/*}*/




@font-face {
    font-family: 'press_start_2pregular';
    src: url('../fonts/pressstart2p-regular-webfont.eot');
    src: url('../fonts/pressstart2p-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pressstart2p-regular-webfont.woff') format('woff'),
    url('../fonts/pressstart2p-regular-webfont.ttf') format('truetype'),
    url('../fonts/pressstart2p-regular-webfont.svg#press_start_2pregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




/*@font-face {*/
    /*font-family: 'wendy_oneregular';*/
    /*src: url('../fonts/wendyone-regular-webfont.eot');*/
    /*src: url('../fonts/wendyone-regular-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/wendyone-regular-webfont.woff') format('woff'),*/
    /*url('../fonts/wendyone-regular-webfont.ttf') format('truetype'),*/
    /*url('../fonts/wendyone-regular-webfont.svg#wendy_oneregular') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/

/*}*/
